  <section id="team" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="center-heading text-center">
            <h2>Miembros destacados</h2>
            <span class="icon"><i class="fa fa-user"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <p class="lead margin-btm-30">
            Algunos de nuestros miembos de Cadena de favores m치s destacados debido a la cantidad de esfuerzo que han dedicado a este servicio.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="100ms">
            <%= image_tag("team-1.jpg") %>
            <h4>Jenelia</h4>
            <span>Dise침adora</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="200ms">
            <%= image_tag("team-2.jpg") %>
            <h4>Smith</h4>
            <span>Gerente de ventas</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="300ms">
            <%= image_tag("team-3.jpg") %>
            <h4>Peter</h4>
            <span>Desarrollador</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="400ms">
            <%= image_tag("team-4.jpg") %>
            <h4>John</h4>
            <span>CEO</span>
          </div>
        </div>
        <!--team col-->
      </div>
      <div class="divided-50"></div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="500ms">
            <%= image_tag("team-5.jpg") %>
            <h4>Ram</h4>
            <span>Dise침ador</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="600ms">
            <%= image_tag("team-6.jpg") %>
            <h4>Hardik</h4>
            <span>Artista</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="700ms">
            <%= image_tag("team-7.jpg") %>
            <h4>Madhukar</h4>
            <span>Comercio electr칩nico</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="800ms">
            <%= image_tag("team-8.jpg") %>
            <h4>Steve</h4>
            <span>HR</span>
          </div>
        </div>
        <!--team col-->
      </div>
    </div>
  </section>
  <!--team-->