<%= paginate @service_requests %>
<% @service_requests.each do |request| %>
  <div class="panel">
    <div class="panel-body">
      <div class="row">

        <div class="col-sm-12">
          <h4 class="title-store">
            <strong>
              <%= link_to request.service.title, request %>
            </strong>
            <div class="pull-right">
              <strong>Solicita: </strong>
              <%= link_to request.user.name, request.user %>
            </div>
          </h4>
          <hr>
          <p><%= request.service.description %></p>
          <p>
            Etiquetas: <% request.tags.each do |tag| %>
              <span class="label label-danger"><%= tag.name %></span>
            <% end %>
          </p>
          <hr>
          <p>
            <div class="btn btn-primary">
              <strong>Costo: </strong><%= request.service.cost %> puntos
            </div>
            <%= link_to "Ver Detalles", request, class: "btn btn-warning pull-right" %>
          </p>
          <% if current_user == request.user %>
            <hr>
            <p>
              <%= link_to 'Eliminar', request, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" %>
              <span class="padding"></span>
              <%= link_to "Editar", edit_service_request_path(request), class: "btn btn-info" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= paginate @service_requests %>