<%= form_for @service_request do |f| %>
    Servicio:
    <div class="form-group">
        <%= f.fields_for :serviceable do |serviceable_form| %>
        <%= serviceable_form.label(:title, "Titulo") %>
        <%= serviceable_form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= serviceable_form.label(:description, "Descripcion") %>
        <%= serviceable_form.text_area :description, class: "form-control"%>
    </div>
    <div class="form-group">
        <%= serviceable_form.label(:price, "Costo") %>
        <%= serviceable_form.text_field :price, class: "form-control"%>
    </div>
    <button type="submit" class="btn btn-info" data-original-title="" title="">Submit</button>
        <% end %>
<% end %>
