<%#current_user.following.each do |following|%><br>
    <%#=following.id%>
  <%#end%>
  <%@peticionesFiltradas1.each do |peticion| %>
  <%if current_user.following?(peticion.user) == true%>
  <div class="jumbotron jumbotron-sm">
     <div class="panel-body">
      <div class="row">
          <div class="col-sm-7">
              <h4 class="title-store">
                  <strong><a href="#"><%=peticion.service.title%></a></strong>
              </h4>
              Sigues a: <a href="#"><%=peticion.user.name%></a> <span class="glyphicon glyphicon-star-empty"></span>   
          <p>
          <%peticion.tags.each do |tag|%>
            <span class="label label-danger"> <%=tag.name%></span> |
          <%end%> 
        </p>
              <hr>
              <p><%=peticion.service.description%></p>

              <p> 
                  <a href="#" class="btn btn-default" disabled="" data-original-title="" title="">$<%=peticion.service.cost%></a>
                  <a href="#" class="btn btn-warning pull-right" data-original-title="" title="">Hacer el trato</a>
              </p>
          </div>
      </div>
  </div>
</div>
<%end%>
 <%end%>
  <%@peticionesFiltradas2.each do |peticion| %>
  <%if current_user.following?(peticion.user) == false%>
  <div class="jumbotron jumbotron-sm">
   <div class="panel-body">
    <div class="row">
        <div class="col-sm-7">
            <h4 class="title-store">
                <strong><a href="#"><%=peticion.service.title%></a></strong>
            </h4>
        <p>
        <%peticion.tags.each do |tag|%>
          <span class="label label-danger"> <%=tag.name%></span> |
        <%end%> 
      </p>
            <hr>
            <p><%=peticion.service.description%></p>

            <p> 
                <a href="#" class="btn btn-default" disabled="" data-original-title="" title="">$<%=peticion.service.cost%></a>
                <a href="#" class="btn btn-warning pull-right" data-original-title="" title="">Hacer el trato</a>
            </p>
        </div>
    </div>
</div>
</div>
<%end%>
 <%end%>

<%= paginate @peticionesFiltradas2 %>



