<%= form_for @user, url: signup_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
    <br>
    <p class="text-center">
      <%= f.submit "Regístrate", class: 'btn btn-lg btn-theme' %>
    </p>
<% end %>
