<div class="row" id="home-content">
  <div class="col-lg-6">
    <section class="panel">
      <div class="panel-body">
        <a href="#" class="task-thumb">
          <%= image_tag @user.profile.picture.url if @user.profile.picture? %>
        </a>
        <div class="task-thumb-details">
          <h1><a href="#"><%= @user.name %></a></h1>
          <p>Datos Generales</p>
        </div>
        <% if current_user == @user %>
          <%= link_to 'Editar Perfil' , edit_user_path(@user), class: "btn btn-info btn-rounded pull-right" %>
        <% else %>
          <button class="btn btn-warning btn-circle" type="button">
            <i class="fa fa-star"> Seguir</i>
          </button>
        <% end %>
      </div>
      <table class="table table-hover personal-task">
        <tbody>
          <tr>
            <td>
              <i class=" fa fa-sun-o"></i>
            </td>
            <td>Puntos Usables</td>
            <td><%= @user.balance.usable_points %></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-sun-o"></i>
            </td>
            <td>Puntos Congelados</td>
            <td><%= @user.balance.frozen_points %></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-sun-o"></i>
            </td>
            <td>Puntos Totales (Congelados + Usables)</td>
            <td><%= @user.balance.total_points %></td>
          </tr>
          <tr>
            <td>
              <i class=" fa fa-hand-o-right"></i>
            </td>
            <td>Favores Realizados</td>
            <td><%= @user.services_completed.length %></td>
          </tr>
          <tr>
            <td>
              <i class=" fa fa-hand-o-left"></i>
            </td>
            <td>Favores Obtenidos</td>
            <td><%= @user.hired_services_completed.length %></td>
          </tr>
          <tr>
            <td>
              <i class=" fa fa-star"></i>
            </td>
            <td>Seguidores</td>
            <td><%= @user.followers.count %></td>
          </tr>
          <tr>
            <td>
              <i class=" fa fa-star-o"></i>
            </td>
            <td>Siguiendo</td>
            <td><%= @user.following.count %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="col-lg-6">
    <section class="panel">
      <div class="panel-body">
        <div class="task-thumb-details">
          <h1><a href="#">Descripción</a></h1>
          <p><%= @user.profile.description %></p>
        </div>
      </div>
    </section>
    <section class="panel">
      <div class="panel-body">
        <div class="task-thumb-details">
          <h1><a href="#">Tipos de Servicio que Ofrece</a></h1>
          <p>
            <% @user.profile.tags.each do |tag| %>
            <button type="button" class="btn btn-danger btn-rounded"><%= tag.name %></button>
            <% end %>
          </p>
        </div>
      </div>
    </section>
    <section class="panel">
      <div class="panel-body">
        <div class="task-thumb-details">
          <h1><a href="#">Información Adicional</a></h1>
          <p>
            <button class="btn btn-info btn-circle" type="button">
             <i class="fa fa-cubes"> Servicios Solicitados</i>
            </button>
            <button class="btn btn-info btn-circle" type="button">
             <i class="fa fa-cubes"> Servicios Realizados</i>
            </button>
          </p>
          <p>
            <button class="btn btn-warning btn-circle" type="button">
             <i class="fa fa-star"> Seguidores</i>
            </button>
            <button class="btn btn-warning btn-circle" type="button">
             <i class="fa fa-star"> Siguiendo</i>
            </button>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
