<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Editar Perfil
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <header class="panel-title">
          Información General
        </header>
      </div>
      <div class="panel-body">
        <%=form_for @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <div class="form-group">
          <%= f.label :name, "Nombre" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: '(Dejar en blanco para no cambiar)' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '(Dejar en blanco para no cambiar)' %>
        </div>

        <%= f.fields_for :profile do |p| %>
          <div class="form-group">
            <%= p.hidden_field :id, class: "form-control" %>

            <%= p.label :description, "Descripción"  %>
            <%= p.text_area :description, class: "form-control" %>
          </div>

        <% end %>
        <%= f.submit "Actualizar", class: 'btn btn-info' %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <header class="panel-title">
          Categorias de Trabajo
        </header>
      </div>
      <div class="panel-body">
        <%=form_for  [@user, @user.profile] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <label>Etiquetas</label>
              <% @tags.each do |tag| %>
                <div class="checkbox">
                  <label>
                  <%= check_box_tag "profile[tag_ids][]", tag.id, @user.profile.tags.include?(tag) %>
                  <%= tag.name %>
                  </label>
                </div>
              <% end %>
            </div>
          <%= f.submit "Actualizar", class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <header class="panel-title">
          Foto de Perfil
        </header>
      </div>
      <div class="panel-body">
        <%= form_for([@user, @user.profile], html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.file_field :picture %>
        </div>
        <%= f.submit "Actualizar", class: "btn btn-info" %>
      <% end %>
      </div>
    </div>
  </div>

</div>