

<!-- start:user info -->
<div class="panel panel-default">
    <div class="panel-heading">
        <header class="panel-title">
            <div class="text-center">
                <h3><strong><%= @user.name %></strong></h3>
            </div>
        </header>
    </div>

    <div class="panel-body">
        <div class="text-center" id="author">
            <img src="/assets/team-2.jpg" alt="foto">            
                     <%= @user.profile.picture %>
            <br>
            <br>
            <button class="btn btn-warning btn-circle" type="button" data-original-title="" title="">
    			<i class="fa fa-star" data-original-title="" title=""> | Añadir a Favoritos</i>
			</button>
        </div>       
    </div>

    <br>
    <hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <div class="custom-header text-center">
            Trabajos que ofrece
            </div>                
            <select id='custom-headers' multiple='multiple' class="col-md-12 text-center">

                <% @user.profile.tags.each do |tag| %>
                    <option><%= tag.name %></option>       
                <% end %>

            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <div class="custom-header text-center">
            Trabajos que Busca
            </div>                
            <select id='custom-headers' multiple='multiple' class="col-md-12 text-center">

                <% @user.service_requests.each do |service_requests| %>
                    <% service_requests.tags.each do |tag| %>
                    <option><%= tag.name %></option>       
                    <% end %>                         
                <% end %>
           
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="row state-overview col-md-12" >
                            <div class="col-lg-6 col-sm-6">
                                <section class="panel">
                                    <div class="symbol terques">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="value">
                                        <h1 class="count">                    
                                        <%=@user.hired_services_completed.length %>
                                        </h1>
                                        <p>Favores Realizados</p>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <section class="panel">
                                    <div class="symbol red">
                                        <i class="fa fa-gift"></i>
                                    </div>
                                    <div class="value">
                                        <h1 class=" count2">
                                            <%=@user.owed_services_completed.length %>
                                        </h1>
                                        <p>Favores Obtenidos</p>
                                    </div>
                                </section>
                            </div>
    </div>

</div>





<!-- end:user info -->

