<div class="header-top">
  <!-- start:navbar -->
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container">
      <!-- start:navbar-header -->
      <div class="navbar-header">
        <%= link_to root_url, class: "navbar-brand" do %>
          <i class="fa fa-users"></i>
          <strong>Cadena de </strong>Favores<strong>.</strong>
        <% end %>
      </div>
      <!-- end:navbar-header -->
      <ul class="nav navbar-nav navbar-left top-menu">
        <!-- start dropdown 1 -->
        <li id="header_notification_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-bell-o" data-original-title="" title=""></i>
            <span class="badge bg-important">5</span>
          </a>
          <ul class="dropdown-menu extended notification">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 5 new notifications</p>
            </li>
            <% if @notifications %>
              <% @notifications.each do |notification| %>
                <%= render 'shared/notifications/notification', notification: notification %>
              <% end %>
            <% end %>
            <li>
              <%= link_to "Ver todas las notificaciones", notifications_path %>
            </li>
          </ul>
        </li>
        <!-- end dropdown 1 -->
      </ul>
      <ul class="nav navbar-nav navbar-right top-menu">
        
        <form action="service_requests/index">
          <select name="searchType">
            <option value="tag">Búsqueda etiqueta</option>
            <option value="name">Búsqueda por nombre de servicio</option>
          </select>
        <li>


          <input type="text" name=busqueda <%= @busqueda %> class="form-control input-sm search" placeholder="Búsqueda">

        </li>
        </form>

        <!-- user login dropdown start-->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <%= image_tag("avatar1_small.jpg") %>
            <span class="username">
              <%= current_user.name %>
            </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <div class="log-arrow-up"></div>
            <li><a href="#"><i class=" fa fa-suitcase" data-original-title="" title=""></i>Profile</a>
            </li>
            <li>
              <%= link_to settings_path do %>
                <i class="fa fa-cog" data-original-title="" title=""></i> Configuración
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: "delete" do %>
                <i class="fa fa-key" data-original-title="" title="">
                </i> Cerrar Sesión
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- end:navbar -->
</div>
