<!-- start:breadcrumb -->
<ol class="breadcrumb">
  <li><a href="#">Home</a>
  </li>
  <li class="active">Dashboard</li>
</ol>
<!-- end:breadcrumb -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Servicios que te pueden interesar!!!</h2>
  </div>
</div>

<% @suggestedServiceRequests.each do |suggestedService| %>
  <div class="panel">
    <div class="panel-body">
      <div class="row">

        <div class="col-sm-12">
          <h4 class="title-store">            
            <strong>
              <%= link_to suggestedService.service.title, suggestedService %>
            </strong>
          </h4>
          <hr>
          <h6 class="title-store">               
              <%= suggestedService.service.description %>           
          </h6>
          <hr>
          <p>
            Etiquetas: <% suggestedService.tags.each do |tag| %>
              <span class="label label-danger"><%= tag.name %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<%end%>

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Usuarios que te pueden ayudar!!!</h2>
  </div>
</div>
<% @suggestedUsers.each do |suggestedUser| %>
  <div class="panel">
    <div class="panel-body">
      <div class="row">

        <div class="col-sm-12">
          <h4 class="title-store">            
            <strong>
              <%= link_to suggestedUser.name, suggestedUser %>
            </strong>
          </h4>
          <hr>          
          <p>
            Etiquetas: <% suggestedUser.profile.tags.each do |tag| %>
              <span class="label label-danger"><%= tag.name %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<%end%>