<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Mostrando Notificación</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <% if @activity.trackable.class.to_s == "Message"  %>

      <%= render 'activities/show/message/new', activity: @activity %>

    <% elsif @activity.trackable.class.to_s == "Offer" %>

      <%= render 'activities/show/offer/new', activity: @activity %>

    <% elsif @activity.trackable.class.to_s == "PointsTransaction" %>

      <%= render 'activities/show/points_transaction/new', activity: @activity %>

    <% elsif @activity.trackable.class.to_s == "Relationship" %>

      <%= render 'activities/show/relationship/new', activity: @activity %>

    <% elsif @activity.trackable.class.to_s == "ServiceArrangement" %>

      <%= render 'activities/show/service_arrangement/accepted_offer', activity: @activity %>

    <% end %>
  </div>
</div>