<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">
      Calificar Servicio
    </h2>
  </div>
</div>

<%=form_for [@arrangement,@review] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%=f.label(:rating, "Calificación") %>
    <%=f.text_field :rating, class: "form-control" %>
  </div>
  <div class="form-group">
    <%=f.label(:description, "Comentarios") %>
    <%=f.text_area :description, class: "form-control"%>
  </div>

  <%= f.submit "Calificar", class: 'btn btn-info' %>
<% end %>
